* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
    background-image: url(/src/background.svg);
    background-attachment: fixed;
    background-size: cover;
}

.page-header{
    position: fixed;
    background: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ponizej rekomendowany zestaw - tekst niewidoczny dla uzytkownika, a czytniki bedą czytać */
.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/* sekcja pomocnicza - zeby widzieć pozycje elementów strony
.page-header {
    background-color: #ffb1b1;
}

.page-content {
    background-color: #b0ffb0;
}

.page-footer {
    background-color: #7ba3ff;
}

.content-section {
    background-color: #ca9aca;
}
.content-section:nth-child(odd) {
    background-color: #e69fe6;
}
 koniec sekcji pomocniczej */


/* zablokowanie menu i stopki w jednej pozycji, tak, zeby byly caly czas widoczne */
.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

/* zrobienie miejsca na menu */
.page-content {
    margin-left: 220px;
    padding: 0 10%;
    text-align: right;
}

.content-section{
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
}

.band-members{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.concerts-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.concerts{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.video-section{
    flex-direction: column;
    align-items: flex-end;

}

.photos-section{
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: flex-end;
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.content-section__header{
    display: block;
}

.gallery{
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery__item{
    margin: 5px;
}



.page-navigation{
    font-style: bold;
    font-size: 13px;
    letter-spacing: 6.7px;
    color: #ec008c;
    list-style-type: none;
}

.page-navigation__items{
    list-style-type: none;
    color: #ec008c;
    position: relative;
}

.band-members__item{
    position: relative;
}

.band-members__name{
    font-style: bold;
    font-size: 15px;
    color: #dbd8fb;
    letter-spacing: 3.8px;
}



.concerts__date {
    font-style: bold;
    font-size: 15px;
    letter-spacing: 3.8px;
    color: rgba(204, 200, 255, 0.8);
    text-align: left;
}

.concerts__location{
    font-style: regular;
    font-size: 13px;
    color: rgba(204, 200, 255, 0.5);   
    text-align: left;
}

.concerts__info-text{
    display: flex;
    flex-direction: column;
}

.concerts__info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.concerts__button{
    position: relative;
    top: -60px;
    left: 200%;
}

.band-members__desc{
    font-style: regular;
    font-size: 13px;
    color: #ccc8ff;
    opacity: 0.5;
    letter-spacing: 3.5px;
}

.about-section__img{
    padding-left: 20px;
}

.about-section__desc{
    position: relative;
    top: -150px;
    right: 150px;
    background-color: #25072E;
    padding: 2%;
}

.about-section__desc-header{
    font-style: bold;
    font-size: 15px;
    letter-spacing: 3.8px;
    color: #dbd8fb;
}

.about-section__desc-body{
    font-style: regular;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #ccc8ff;
    opacity: 0.8;
}

.content-section__header{
    padding: 20px;
    font-style: bold;
    font-size: 28px;
    text-align: right;
    color: #ec008c;
    letter-spacing: 4.5px;
}


.button{
    float: right;
    font-style: semibold;
    font-size: 12px;
    letter-spacing: 1.6px;
    color: rgb(219, 216, 251);
    background-color: rgba(204, 200, 255, 0.1);
    border: none;
    padding: 4px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
}

input {
    background-color: rgba(204, 200, 255, 0.1);
    border: none;
    height: 30px;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    font-style: regular;
    font-size: 13px;
    color: rgb(219, 216, 251);
}

.form{
    align-self: flex-start;
}

address{
    font-style: regular;
    font-size: 13px;
    color: rgb(219, 216, 251);
    text-decoration: none;
}

.box{
    display: flex;
    flex-direction: row;
    align-content: center;
}
